/* stylelint-disable no-missing-end-of-source-newline */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
}