* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --blue-clr: #0190ff;
  --light-blue: #96bcdc;
  --grey-clr: #89898a;
  --light-grey: #c8c8c8;
  --background: #fafafa;
}

body {
  background: #f3f4f8;
  font-family: sans-serif;
}

.container {
  margin: 20px 8%;
  height: 100%;
}

a {
  color: #092cdb;
}

.bookHolder {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 88%;
  height: 150px;
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: center;
  gap: 20px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin-top: 40px;
  border: 1px solid #000;
}

.form-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid #89898a;
  width: 88%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 300px;
}

.btn {
  color: #000;
  border-style: none;
  background-color: transparent;
}

.main-divider {
  border: 1px solid #000;
  height: 100%;
}

.line-divider {
  border: 0.5px solid #000;
  height: 25px;
}

.bookInput {
  display: flex;
  justify-content: space-between;
}

.bookTitle,
.author {
  width: 350px;
  height: 40px;
  padding: 10px;
  margin-right: 20px;
}

select {
  width: 200px;
  height: 40px;
  padding: 10px;
}

.add-btn {
  background: var(--blue-clr);
  color: white;
  height: 40px;
}
